<h1 class="title">Мои дуэли</h1>

<table class="table is-fullwidth">
  <thead>
    <th>ID</th>
    <th>Игрок 1</th>
    <th>Игрок 2</th>
    <th>Стаус</th>
    <th>P1 Вердикт</th>
    <th>P2 Вердикт</th>
    <th>Победитель</th>
    <th>Log</th>
    <th>Визулизация</th>
  </thead>
  <tbody>
    <% for ch in Challenge.all %>
    <tr>
      <td>
        <%= ch[:id] %>
      </td>
      <td>
        <%= Submission.find_by_id(ch[:sub1]).name %>
      </td>
      <td>
        <%= Submission.find_by_id(ch[:sub2]).name %>
      </td>
      <td>
        <%= ch[:status] %>
      </td>
      <td>
        <%= ch[:player_1_verdict] %>
      </td>
      <td>
        <%= ch[:player_2_verdict] %>
      </td>
      <td>
        <%= ch[:winner] %>
      </td>
      <td>
        <a href=<%= challenge_log_url + '?id=' + ch[:id].to_s %>>
          <button class="button is-link" <%= "disabled" if ch[:status] == 'Running' %>>
            Log
          </button>
        </a>
      </td>
      <td>
        <a href=<%= challenge_visualize_url + '?id=' + ch[:id].to_s %>>
          <button class="button is-link" <%= "disabled" if ch[:status] == 'Running' %>>
            Визуализация
          </button>
        </a>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
