<h1 class="title">Новая дуэль</h1>

<%= form_tag challenge_create_url do %>
  <div class="field">
    <div class="label">
      Игрок 1
    </div>
    <p class="control">
      <span class="select">
        <%= select(:challenge, :sub1, (current_user.get_av_submissions).pluck(:name)) %>
      </span>
    </p>
  </div>
  <div class="field">
    <div class="label">
      Игрок 2
    </div>
    <p class="control">
      <span class="select">
        <%= select(:challenge, :sub2, (current_user.get_av_submissions).pluck(:name)) %>
      </span>
    </p>
  </div>
  <div class="field">
    <div class="label">
      Уровень
    </div>
    <p class="control">
      <span class="select">
        <%= select :challenge, :level, [1, 2] %>
      </span>
    </p>
  </div>

  <div class="field">
    <div class="control">
      <%= submit_tag "К бою!", class: "button is-link" %>
    </div>
  </div>
<% end %>