<script>
    let my_log;
    let current_frame = 0;
    let is_playing = 0;
    let timer_id;
    let n, m;
    let frame_max;

    function update() {
        if (is_playing) {
            settimer();
            $("#play_button").html("<i class=\"fas fa-pause\"></i>")
        } else {
            $("#play_button").html("<i class=\"fas fa-play\">");
            clearInterval(timer_id)
        }
    }

    $(document).ready(function() {
        $.getJSON("<%= "#{challenge_log_url}?id=#{@id}&format=json"%>", function (data) {
            my_log = data;
            n = my_log[current_frame]["board"].length;
            m = my_log[current_frame]["board"][0].length;
            frame_max = my_log.length - 2;
            $("#moment").attr("max", frame_max);

            for(let i = 0; i < n; i++) {
                for (let j = 0; j < m; j++) {
                    styles = 'style="height: ' + (100.0 / n).toString() + '%; width:' + (100.0 / m).toString() + '%"';
                    $(".board").append('<div class="board_basic_cell" ' + styles + '><div id="cell_' + i.toString() + '_' + j.toString()+ '"></div></div>');
                }
            }

            redraw();
            $("#play_button").click(function () {
                is_playing ^= 1;
                update()
            });

            $("#repeat_button").click(function () {
                current_frame = 0;
                is_playing = 0;
                update();
                redraw();
                setframerange()
            });

            $("#prev_button").click(to_previous_frame);
            $("#next_button").click(to_next_frame);
        });
    });

    function to_next_frame() {
        console.log("next");
        if (current_frame + 1 == my_log.length) {
            is_playing = 0;
            update();
            return;
        }
        current_frame++;
        redraw();
        setframerange()
    }

    function to_previous_frame() {
        current_frame = Math.max(0, current_frame - 1);
        redraw();
        setframerange()
    }

    function redraw() {
        class_mapper = {
            0: "empty",
            1: "red",
            2: "red_tail",
            3: "red_tail",
            4: "red_tail",
            5: "red_tail",
            6: "red_tail",
            7: "red_tail",
            8: "red_tail",
            9: "red_tail",
            10: "red_tail",
            11: "red_tail",
            12: "red_tail",
            13: "blue",
            14: "blue_tail",
            15: "blue_tail",
            16: "blue_tail",
            17: "blue_tail",
            18: "blue_tail",
            19: "blue_tail",
            20: "blue_tail",
            21: "blue_tail",
            22: "blue_tail",
            23: "blue_tail",
            24: "blue_tail",
            25: "block",
            26: "",
            27: "",
            28: "",
        };

        lit_mapper = {
            0: ".",
            1: "R",
            2: "Q",
            3: "Q",
            4: "Q",
            5: "Q",
            6: "Q",
            7: "Q",
            8: "Q",
            9: "Q",
            10: "Q",
            11: "Q",
            12: "Q",
            13: "B",
            14: "W",
            15: "W",
            16: "W",
            17: "W",
            18: "W",
            19: "W",
            20: "W",
            21: "W",
            22: "W",
            23: "W",
            24: "W",
            25: "X",
            26: "",
            27: "",
            28: "",
        };

        $("#player_board").html("");
        for(let i = 0; i < n; i++) {
            for (let j = 0; j < m; j++) {
                let cur_id = my_log[current_frame]["board"][i][j];
                let cur_class = class_mapper[cur_id];
                let cur_lit = lit_mapper[cur_id];
                $("#cell_" + i + "_" + j).attr("class", "square " + cur_class);
                $("#player_board").append(cur_lit + ' ')
            }
            $("#player_board").append('<br/>')
        }
        $("#points1").html(my_log[current_frame]["points"][0]);
        $("#points2").html(my_log[current_frame]["points"][1]);
    }
</script>

<div class="columns">
  <div class="column">
    <div class="section">
      <div class="notification is-info">
        <h2 class="title is-5">
          Управление визуализацией
        </h2>
        <button id="prev_button" class="button"><i class="fas fa-step-backward"></i></button>
        <button id="play_button" class="button"><i class="fas fa-play"></i></button>
        <button id="next_button" class="button"><i class="fas fa-step-forward"></i></button>
        <button id="repeat_button" class="button"><i class="fas fa-redo"></i></button>
        <br/>
        <br/>
        Скорость воспроизведения:
        <script>
          function settimer() {
              clearInterval(timer_id);
              if (is_playing) {
                  let speed = $("#speed").val();
                  console.log(100 - speed);
                  timer_id = setInterval(to_next_frame, 100 - speed)
              }
          }
        </script>
        <input type="range" min="1" max="100" id="speed" oninput="settimer()" value="50">
        <br/>
        <script>

        </script>
        Момент воспроизведения:
        <script>
          function changeframe() {
              current_frame = $("#moment").val();
              redraw()
          }
          function setframerange() {
              $("#moment").val(current_frame)
          }
        </script>
        <input type="range" min="0" max="0" id="moment" oninput="changeframe()" value="0">
        <br/>
        <h2 class="title is-5">
          Текущий счёт
        </h2>

        <table class="table is-fullwidth is-bordered is-hoverable">
          <tbody>
          <tr>
            <td>Игрок 1</td>
            <td id="points1">0</td>
          </tr>
          <tr>
            <td>Игрок 2</td>
            <td id="points2">0</td>
          </tr>
          </tbody>
        </table>

        <h2 class="title is-5">
          Как решения видят поле:
        </h2>
        <div class="notification">
          <div id="player_board" class="player_board">
          </div>
        </div>
        Копировать карту в буфер обмена
        <br/>
        <script>new ClipboardJS('#copy_button');</script>
        <button id="copy_button" class="button" data-clipboard-action="copy" data-clipboard-target="#player_board"><i class="fas fa-copy"></i></button>
        <br/>
        <br/>
        <h2 class="title is-5">
          Информация о дуэли
        </h2>
        <table class="table is-fullwidth is-bordered is-hoverable">
          <tbody>
            <tr>
              <td>ID</td>
              <td><%= @id %></td>
            </tr>
            <tr>
              <td>Игрок I</td>
              <td><%= @cur_item[:player1] %></td>
            </tr>
            <tr>
              <td>Игрок II</td>
              <td><%= @cur_item[:player2] %></td>
            </tr>
            <tr>
              <td>Победитель</td>
              <td><%= @cur_item[:winner] %></td>
            </tr>
            <tr>
              <td>Вердикт I игрока</td>
              <td><%= @cur_item[:player1_verdict] %></td>
            </tr>
            <tr>
              <td>Вердикт II игрока</td>
              <td><%= @cur_item[:player2_verdict] %></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="column is-three-fifths">
    <div class="section">
      <div class="board">
      </div>
    </div>
  </div>
</div>