<h1 class="title">Вход</h1>

<div class="level">
  <div class="level-left">
    <%= form_tag sessions_create_path do %>

      <div class="field">
        <div class="label">
          <%= label_tag "Имя пользователя" %>
        </div>
        <div class="control">
          <%= text_field :username, "", class: "input" %>
        </div>
      </div>

      <div class=”field”>
        <div class="label">
          <%= label_tag "Пароль" %>
        </div>
        <div class="control">
          <%= password_field_tag :password, "", class: "input" %>
        </div>
      </div>
      <br/>
      <div class=”control”>
        <%= submit_tag 'Войти', class: "button is-link" %>
      </div>
    <% end %>
  </div>
</div>