
<%= form_with(model: user, local: true) do |form| %>
<% if user.errors.any? %>
<div class="notification is-danger">
    <h1><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h1>

    <ul>
        <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
    </ul>
</div>
<% end %>

<div class="field">
    <div class="label">
        <%= form.label :username %>
    </div>
    <div class="control">
        <%= form.text_field :username, class: "input" %>
    </div>
</div>

<div class="field">
    <div class="label">
        <%= form.label :password %>
    </div>
    <div class="control">
        <%= form.password_field :password, class: "input" %>
    </div>
</div>

<div class="field">
    <div class="label">
        <%= form.label :password_confirmation %>
    </div>
    <div class="control">
        <%= form.password_field :password_confirmation, class: "input" %>
    </div>
</div>

<div class="control">
    <%= form.submit class: "button is-link" %>
</div>
<% end %>