<h1 class="title">Регистрация</h1>

<% if Setting.registration_open %>

  <% if notice.respond_to? :each %>
    <div class="notification is-danger">
      <div class="content">
        Пожалуйста, исправьте следующие ошибки:
        <ul>
          <% notice.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="level">
    <div class="level-left">

      <%= form_with(url: "/users/create", model: @user, local: true) do |form| %>

        <div class="field">
          <div class="label">
            <%= form.label "Имя пользователя" %>
          </div>
          <div class="control">
            <%= form.text_field :username, class: "input" %>
          </div>
        </div>

        <div class="field">
          <div class="label">
            <%= form.label "Имя" %>
          </div>
          <div class="control">
            <%= form.text_field :name, class: "input" %>
          </div>
        </div>

        <div class="field">
          <div class="label">
            <%= form.label "Фамилия" %>
          </div>
          <div class="control">
            <%= form.text_field :surname, class: "input" %>
          </div>
        </div>

        <div class="field">
          <div class="label">
            <%= form.label "Пароль" %>
          </div>
          <div class="control">
            <%= form.password_field :password, class: "input" %>
          </div>
        </div>

        <div class="field">
          <div class="label">
            <%= form.label "Подтверждение пароля" %>
          </div>
          <div class="control">
            <%= form.password_field :password_confirmation, class: "input" %>
          </div>
        </div>

        <div class="control">
          <%= form.submit class: "button is-link", value: "Зарегестрироваться" %>
        </div>
      <% end %>
      <br/>
    </div>
  </div>
<% else %>
  <div class="notification is-primary">
    Регистриция закрыта. Обратитесь к администратору.
  </div>

<% end %>


