<h1 class="title">Мои посылки</h1>

<table class="table is-fullwidth">
  <thead>
    <th>ID</th>
    <th>Дуэль</th>
    <th>Турнир</th>
    <th>Язык</th>
    <th>Статус</th>
    <th>Исходный код</th>
  </thead>
  <tbody>
    <% for subm in current_user.submissions %>
  <tr>
      <td>
        <%= subm[:id] %>
      </td>
      <td>
        <% b_name = "ch_but#{subm.id}" %>
        <a class="ch_but" id=<%= b_name %>>
            <% if current_user[:fav_ch_id] == subm.id %>
              <i class="fas fa-heart"></i>
            <% else %>
              <i class="far fa-heart"></i>
            <% end %>
        </a>
        <script>
          $("#<%= b_name %>").click(function () {
              $.get("<%= submissions_make_used_for_ch_url %>", {id: <%= subm.id %>}, function() {
                  $(".ch_but").html("<i class=\"far fa-heart\"></i>")
                  $("#<%= b_name %>").html("<i class=\"fas fa-heart\"></i>")
              })
          })
        </script>
      </td>
    <td>
      <% b_name = "tour_but#{subm.id}" %>
      <a class="tour_but" id=<%= b_name %>>
        <% if current_user[:fav_tours_id] == subm.id %>
          <i class="fas fa-heart"></i>
        <% else %>
          <i class="far fa-heart"></i>
        <% end %>
      </a>
      <script>
          $("#<%= b_name %>").click(function () {
              $.get("<%= submissions_make_used_for_tours_url %>", {id: <%= subm.id %>}, function() {
                  $(".tour_but").html("<i class=\"far fa-heart\"></i>")
                  $("#<%= b_name %>").html("<i class=\"fas fa-heart\"></i>")
              })
          })
      </script>
      </td>
      <td>
        <%= subm[:compiler] %>
      </td>
      <td>
        <%= subm[:status] %>
      </td>
      <td>
        <button class="button is-link">
          <a href=<%= submissions_source_url + "?id=" + subm[:id].to_s %>>
            Просмотреть
          </a>
        </button>
      </td>
  <tr/>
    <% end %>
  </tbody>
</table>