<h1 class="title">Отослать код</h1>
<%= form_tag submissions_create_url do %>

  <div class="field">
    <div class="label">
      Название
    </div>
    <p class="control">
      <%= text_field_tag "submission[name]", "", class: "input" %>
    </p>
  </div>

  <div class="field">
    <div class="label">
      Язык
    </div>
    <p class="control">
      <span class="select">
        <%= select :submission, :compiler, options_for_select(["Python 3.7", "GNU C++ 17"]) %>
      </span>
    </p>
  </div>

  <div class="field">
    <div class="label">
      Исходный код
    </div>
    <div class="control">
      <%= text_area :submission, :code, class: "textarea" %>
    </div>
  </div>

  <div class="field">
    <div class="control">
      <%= submit_tag "Отослать", class: "button is-link" %>
    </div>
  </div>
<% end %>