<h1 class="title"><%= @tournament.name %></h1>
<div class="notification is-info">
  Количество партий в каждой встрече: <%= @tournament.number_of_ch_per_pair %>
  <br/>
  Статус: <%= @tournament.get_status %>
</div>
<h1 class="title is-4">Турнирная таблица</h1>
<p>
В каждой строке описывается первый игрок. Приводится его число побед, ничей и поражений через запятую.
</p>
<br/>
<table class="table is-bordered is-fullwidth">
  <tbody>
    <tr>
      <td/>
      <% @tournament.participants.each do |t| %>
        <td><%= User.find(t).username %></td>
      <% end %>
    </tr>

    <% @tournament.participants.each do |t| %>
      <tr>
        <td><%= User.find(t).username %></td>
        <% @tournament.participants.each do |x| %>
          <td>
            <% unless t == x %>
              <%= @tournament.get_info_for_table t, x %>
            <% end %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<h1 class="title is-4">Рейтинг участников</h1>
<table class="table is-bordered is-fullwidth">
  <thead>
    <td>#</td>
    <td>Имя пользователя</td>
    <td>Очки</td>
  </thead>
  <tbody>
    <% @tournament.get_rating.each_with_index do |t, i| %>
      <tr>
        <td><%= i + 1 %></td>
        <td><%= User.find(t[0]).username %></td>
        <td><%= t[1] %></td>
      </tr>
    <% end %>
  </tbody>

</table>