<div class="box" style="overflow: scroll;">
  <table class="table is-fullwidth" <% if admin %>style="font-size: 11px" <% end %> >
  <colgroup>
    <!--    <col span="1" style="width: 5%;">-->
    <!--    <col span="1" style="width: 10%;">-->
    <!--    <col span="1" style="width: 10%;">-->
    <!--    <col span="1" style="width: 65%;">-->
    <!--    <col span="1" style="width: 65%;">-->
    <!--    <col span="1" style="width: 2%;">-->
  </colgroup>

  <thead>
  <tr>
    <th>ID</th>
    <th>Время создания</th>
    <th>Игрок 1</th>
    <th>Игрок 2</th>
    <th>Уровень</th>
    <th>Статус</th>
    <th>Вердикт 1</th>
    <th>Вердикт 2</th>
    <th>Победитель</th>
    <% if admin %>
      <th>Длительность проверки</th>
      <th>Создатель</th>
      <th>Перетест.</th>
    <% end %>
    <th>Лог</th>
    <th>Игра</th>
    <% if admin %>
      <th>Удалить</th>
    <% end %>
  </tr>
  </thead>
  <tbody>
  <% @challenges_data.each do |t| %>
    <tr>
      <td>
        <%= t[:id] %>
      </td>
      <td>
        <%= t[:created_at] %>
      </td>
      <td>
        <%= t[:player1] %>
      </td>
      <td>
        <%= t[:player2] %>
      </td><td>
      <%= t[:level] %>
    </td>
      <td>
        <% status = t[:status] %>
        <div class="<%= status == 'Протестировано' ? 'ok_verdict' : 'warn' %>">
          <%= status %>
        </div>
      </td>
      <td>
        <% verd = t[:player1_verdict] %>
        <div class="<%= verd == 'OK' ? 'ok_verdict' : 'bad_verdict' %>">
          <%= verd %>
        </div>
      </td>
      <td>
        <% verd = t[:player2_verdict] %>
        <div class="<%= verd == 'OK' ? 'ok_verdict' : 'bad_verdict' %>">
          <%= verd %>
        </div>
      </td>
      <td>
        <div class="info">
          <%= t[:winner] %>
        </div>
      </td>
      <% if admin %>
        <td>
          <%= t[:time_elapsed] %>
        </td>
        <td>
          <%= t[:creator] %>
        </td>
        <td>
          <a class="button" href=<%= challenge_rejudge_url + '?id=' + t[:id].to_s %>>
            <i class="fas fa-redo"></i>
          </a>
        </td>
      <% end %>
      <td>
        <a class="button" <%= "disabled" if t[:status].start_with? 'Выполняется' %> href=<%= challenge_log_url + '?id=' + t[:id].to_s %>>
          <i class="fas fa-file"></i>
        </a>
      </td>
      <td>
        <a class="button" <%= "disabled" if t[:status].start_with? 'Выполняется' %> href=<%= challenge_visualize_url + '?id=' + t[:id].to_s %>>
          <i class="fas fa-gamepad"></i>
        </a>
      </td>
      <% if admin %>
        <td>
          <a class="button" href=<%= challenge_destroy_url + '?id=' + t[:id].to_s %>>
            <i class="fas fa-trash"></i>
          </a>
        </td>
      <% end %>
    </tr>
  <% end %>
  </tbody>
  </table>
</div>