<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="/">
      <h1 class="title">AIForces. Essoila 2019</h1>
    </a>
  </div>

  <a class="navbar-item" href=<%= event_rules_url %>>
    Правила
  </a>

  <a class="navbar-item" href=<%= event_statements_url %>>
    Условия
  </a>

  <a href=<%= submissions_new_url %> class="navbar-item">
    Отослать
  </a>

  <a href=<%= submissions_index_url %> class="navbar-item">
    Мои посылки
  </a>

  <a href=<%= challenge_new_url %> class="navbar-item">
    Новая дуэль
  </a>
  <a href=<%= challenge_index_url %> class="navbar-item">
    Дуэли
  </a>
  <a href=<%= tournament_index_url %> class="navbar-item">
    Турниры
  </a>

  <% if current_user %>
    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <a class="button is-danger" href=<%= sessions_destroy_url %>>
            Выйти
          </a>
        </div>
      </div>
    </div>
  <% else %>
    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <a class="button is-primary" href=<%= users_new_url %>>
            <strong>Регистрация</strong>
          </a>
          <a class="button is-light" href=<%= sessions_new_url %>>
            Вход
          </a>
        </div>
      </div>
    </div>
  <% end %>
</nav>