<div class="box">
  <table class="table is-fullwidth" style="font-size: 13px">
    <thead>
    <tr>
      <% if choose %>
        <th>Выбор</th>
      <% end %>
      <% unless choose %>
        <th>Открыть</th>
        <% unless admin %>
          <th>Турнир</th>
        <% end %>
      <% end %>
      <th>ID</th>
      <th>Название</th>
      <th>Время создания</th>

      <% unless choose %>
        <th>Язык</th>
        <th>Статус</th>
        <th>Вердикт</th>
        <% if admin %>
          <th>Создатель</th>
        <% end %>
        <th>Код</th>
        <% if admin %>
          <th>Удалить</th>
        <% end %>
      <% end %>

<!--       <th>Проиграно</th>-->
<!--       <th>Выиграно</th>-->
<!--       <th>Ничей</th>-->
<!--       <th>Очки</th>-->
      </tr>
    </thead>
    <tbody>
    <% submissions_data.each do |submission| %>
      <tr>
        <% if choose %>
          <td>
            <i id="<%= "#{choose_pref}_#{submission[:id]}" %>" class="<%= choose_pref %> far button fa-heart"></i>
          </td>
        <% end %>

        <% unless choose %>
          <td>
            <% if submission[:opened] %>
              <i class="button fas fa-lock-open" disabled></i>
            <% else %>
              <i class="make_opened button fas fa-lock" id="<%= "make_opened_#{submission[:id]}"%>"></i>
            <% end %>
          </td>

          <% unless admin %>
            <td>
              <a class="tour_but" id=<%= "tour_but_#{submission[:id]}" %>>
                <% if submission[:used_for_tours] %>
                  <i class="fas button fa-heart"></i>
                <% else %>
                  <i class="far button fa-heart"></i>
                <% end %>
              </a>
            </td>
          <% end %>
        <% end %>
        <td>
          <%= submission[:id] %>
        </td>
        <td>
          <%= submission[:name] %>
        </td>
        <td>
          <%= submission[:created_at] %>
        </td>
        <% unless choose %>
          <td>
            <%= submission[:lang] %>
          </td>
          <td>
            <% status = submission[:status] %>
            <div class="<%= status == 'Протестировано' ? 'ok_verdict' : 'warn' %>">
              <%= status %>
            </div>
          </td>
          <td>
            <% verd = submission[:verdict] %>
            <div class="<%= verd == 'OK' ? 'ok_verdict' : 'bad_verdict' %>">
              <%= verd %>
            </div>
          </td>
          <% if admin %>
            <td>
              <%= submission[:creator] %>
            </td>
          <% end %>
          <td>
            <a class="button" href=<%= submissions_source_url + "?id=" + submission[:id].to_s %>>
              <i class="fas fa-code"></i>
            </a>
          </td>

          <% if admin %>
            <td>
              <a class="button" href=<%= submissions_destroy_url + '?id=' + submission[:id].to_s %>>
                <i class="fas fa-trash"></i>
              </a>
            </td>
          <% end %>
        <% end %>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>

<script>
    $(".ch_but").click(function (event) {
        let target_id = event.target.parentElement.id;
        let id = parseInt(target_id.slice("ch_but_".length));
        $.get("<%= submissions_make_used_for_ch_url %>", {id: id}, function() {
            $(".ch_but").html("<i class=\"far fa-heart\"></i>");
            $("#" + target_id).html("<i class=\"fas fa-heart\"></i>")
        })
    });

    $(".tour_but").click(function (event) {
        let target_id = event.target.parentElement.id;
        let id = parseInt(target_id.slice("tour_but_".length));
        $.get("<%= submissions_make_used_for_tours_url %>", {id: id}, function() {
            $(".tour_but").html("<i class=\"far button fa-heart\"></i>");
            $("#" + target_id).html("<i class=\"fas button fa-heart\"></i>")
        })
    });

    $(".make_opened").click(function (event) {
        let target_id = event.target.id;
        console.log(target_id);
        let id = parseInt(target_id.slice("make_opened_".length));
        if (confirm('Вы уверены, что хотите открыть эту посылку? Это действие невозможно отменить.')) {
            $.get("<%= submissions_make_opened_url %>", {id: id}, function () {
                $("#"+ target_id).attr("class", "button fas fa-lock-open");
                $("#"+ target_id).attr("disabled", true);
            })
        }
    });
</script>