<!DOCTYPE html>
<html>
  <head>
    <title>AIForces</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <nav class="navbar" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a class="navbar-item" href="/">
          <h1 class="title">AIForces</h1>
        </a>
      </div>

      <a class="navbar-item" href=<%= rules_url %>>
        Правила
      </a>

      <a class="navbar-item" href=<%= statements_url %>>
        Условия
      </a>

      <a href=<%= submissions_new_url %> class="navbar-item">
        Отослать
      </a>

      <a href=<%= submissions_index_url %> class="navbar-item">
        Мои посылки
      </a>

      <a href=<%= challenge_new_url %> class="navbar-item">
        Новая дуэль
      </a>
      <a href=<%= challenge_index_url %> class="navbar-item">
        Мои дуэли
      </a>
      <a class="navbar-item">
        Турниры
      </a>

      <% if current_user %>
        <div class="navbar-end">
          <div class="navbar-item">
            <div class="buttons">
              <a class="button is-danger" href=<%= sessions_destroy_url %>>
                Выйти
              </a>
            </div>
          </div>
        </div>
      <% else %>
      <div class="navbar-end">
        <div class="navbar-item">
          <div class="buttons">
            <a class="button is-primary" href=<%= users_new_url %>>
              <strong>Регистрация</strong>
            </a>
            <a class="button is-light" href=<%= sessions_new_url %>>
              Вход
            </a>
          </div>
        </div>
      </div>
      <% end %>

    </nav>
    <div class="container">
      <div class="notification">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
